/html_docs/
/tester.php
/.idea
/node_modules
/public/hot
/public/storage
/vendor
.idea
.idea/*
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
deploy-config.yml
/.build/
laravel-echo-server.lock
/.env.testing
/config/debugbar.php
/config/debugbar.php.save