/*ДОЛЖНИКИ"*/
.debtors-overall-table {
    border-collapse: collapse;
}

.debtors-overall-table td {
    border: 1px #000000 solid;
}

.debtors-overall-table td:last-child {
    background-color: #FFCA95;
}

.debtors-overall-table tr:first-child td, .debtors-overall-table tr:last-child td {
    background-color: #FFCA95;
}

/*.debtor-comments-table tr:first-child td {
    border-top: 0px;
}

.debtor-comments-table tr:first-child td, .debtor-comments-table tr:nth-child(2) td {
    font-size: 100%;
    font-weight: bold;
}*/
.debtor-comments-table{
    max-height: 600px;
    overflow-y: scroll;
}

.debtor-car .debtor-comments-block {
    /*max-height: 600px;*/
    /*overflow-y: scroll;*/ 
}

.debtor-payments-block {
    height: 150px;
    overflow-y: scroll;
}

.debtor-payments-table {
    font-size: 80%;
}
.debtor-card .panel-heading{
    font-size: 20px;
    text-align: center;
}
.debtor-card .debtor-debt-table{
    font-size: 12px;
}
.debtor-card .debtor-debt-table td:first-child{
    width: 30%;
}
.debtor-card table.table thead th input.form-control{
    max-width: 100% !important;
}
.debtor-card .debtor-loan-data{
    font-size: 12px;
}
.debtor-card .debtor-loan-data .list-group-item{
    padding: 5px;
}
.debtor-card .photo-gallery{
    min-height: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.debtor-card .photo-gallery .btn{
    margin-top: 40%;
}
.debtor-card .photo-gallery .main-photo{
    outline: none;
}
.debtor-card .photo-gallery .main-photo img{
    max-width: 150px !important;
}
.el_archive:hover {
    color: #468847;
    background: #f6fbfd !important;
}
.timezone{
    width: 100%;
}
.timezone:hover {
    color: #468847;
    background: #f6fbfd !important;
    border: white;
    cursor: pointer;
}