/*#b24296*/
.top-menu-wrapper{
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#F3F3F3));
    background: -webkit-linear-gradient(#ffffff, #F3F3F3);
    background: -moz-linear-gradient(#ffffff, #F3F3F3);
    background: -ms-linear-gradient(#ffffff, #F3F3F3);
    background: -o-linear-gradient(#ffffff, #F3F3F3);
    background: linear-gradient(#ffffff, #F3F3F3);
    vertical-align: top;
    height: 40px;
}
.top-menu{
    /*width: 45%;*/
    display: inline-block;
    list-style: none;
    position: relative;
    top: 0;
    height: 100%;
}
.top-menu>.menu-item{
    display: inline-block;
    vertical-align: top;
    height: 100%;
    min-width: 120px;
}
.top-menu>.menu-item>.sub-item{
    display: block;
    height: 50%;
}
.top-menu>.menu-item a {
    height: 100%;
    display: inline-block;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #9c3382;
    font-weight: bold;
}
.top-menu>.menu-item>a{
    padding-top: 10px;
}
.top-menu .menu-item .claims{
    /*width: 120px;*/
}
.top-menu .menu-item .new-claim{
    width: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.user-menu{
    text-align: right;
}

.top-menu>.menu-item a:hover {
    text-decoration: none;
    color:#fff;
    background: #fbb900;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fbb900), to(#f29909));
    background: -webkit-linear-gradient(#fbb900, #f29909);
    background: -moz-linear-gradient(#fbb900, #f29909);
    background: -ms-linear-gradient(#fbb900, #f29909);
    background: -o-linear-gradient(#fbb900, #f29909);
    background: linear-gradient(#fbb900, #f29909);
}
.top-menu>.menu-item a.active{
    color: #fff;
    background: #b24296;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b24296), to(#952F7C));
    background: -webkit-linear-gradient(#b24296, #952F7C);
    background: -moz-linear-gradient(#b24296, #952F7C);
    background: -ms-linear-gradient(#b24296, #952F7C);
    background: -o-linear-gradient(#b24296, #952F7C);
    background: linear-gradient(#b24296, #952F7C);
}
.header-logo{
    background: #b24296;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#b24296), to(#952F7C));
    background: -webkit-linear-gradient(#b24296, #952F7C);
    background: -moz-linear-gradient(#b24296, #952F7C);
    background: -ms-linear-gradient(#b24296, #952F7C);
    background: -o-linear-gradient(#b24296, #952F7C);
    background: linear-gradient(#b24296, #952F7C);
    padding: 2px;
    display: inline-block;
    margin-left: -15px;
}
.header-logo span{
    display: inline-block;
    width: 45px;
    height: 42px;
    background-image: url('images/logo.png');
    background-size: 40px 40px;
    background-position: 3px;
    background-repeat: no-repeat;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    color: #ffffff;
    background-color: #b24296;
}

a{
    color: #b24296;
}
a:hover{
    color:#6c225a;
}
.btn-primary{
    background-color: #b24296;
    border-color: #8d3277;
}
.btn-primary:hover{
    background-color:#8d3277;
}