#BuildGraph {
	max-width: 220px;
}
tr .today {
	border: 1px black inset;
}
.red {
	color:red;
	font-weight: bold;
}
.green {
	color:green;
	font-weight: bold;
}
#zaglushka {
	position: absolute;
	z-index: 999999999;
	background-color: #fff9;
	width: 100%;
	height: 100%;
	top: 0;
}
#myFCKtabl {
	margin: 23px 0 0 0;
	font-weight: bold;
}
#myFCKtabl tbody tr:last-child {
	border-top: 2px gray inset;
        font-size: 20px;
}


