.jQtooltip {
  position: relative;
  cursor: help;
  border-bottom: 1px dotted;
}
.jQtooltip div {
  display: none;
  position: absolute;
  bottom: -1px;
  left: -1px;
  z-index: 1000;
  width: 190px;
  padding: 8px 12px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  box-shadow: 0 1px 3px #C4C4C4;
  border: 1px solid #DBB779;
  background: #FFF6BD;
  border-radius: 2px;
}
.jQtooltip.mini {
  display: inline-block;
  vertical-align: bottom;
  font-size: 11px;
  width: 15px;
  height: 15px;
  line-height: 13px;
  text-align: center;
   margin-left: -10px;
  margin-bottom: 30px;
  top: -2px;
  color: red;
  border: 1px solid red;
  background: #FFF6BD;
  border-radius: 2px;
}