* {margin: 0; padding: 0;}
/*body {margin: 10px; font: 13px "Trebuchet MS", Tahoma, Arial;}*/
/*body {margin: 5px; font-size: 14px; font-family: 'Arial', sans-serif; color:black;}*/
body {margin: 5px; font-size: 14px; color:black;}
a {color: #0094D6;}
p {padding: 7px 0;}
h1 {font-size: 21px; font-weight: normal; margin: 0 0 30px;}
h3{ margin-left: 15px; }
table{padding: 7px 0;}
td,th{
    text-align: center;
}
.centered{ text-align: center; }
.tabs {
    width: 1400px;
    height: 600px;
    background: #EFEFEF;
    margin: 0 0 30px;
    border: 1px solid #D4D4D4;
}
.tabs__caption {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}
.tabs__caption li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.tabs__caption li:hover,
.vertical .tabs__caption li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.tabs__caption .active {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.tabs__content {
    display: none;
    border: 1px solid #D4D4D4;
    border-width: 0 1px 1px;
    background: #EFEFEF;
    padding: 0 12px;
    border-bottom-style:none;
}
.tabs__content.active {
    display: block;
}

.tabs.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs__caption {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.vertical .tabs__caption li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs__caption li:hover {
    width: 131px;
}
.vertical .tabs__caption .active {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
    border-right: 1px solid #EFEFEF;
    margin-right: -1px;
}
.vertical .tabs__content {
    border-width: 1px;
}
#tabs
{
    font-size:0.7em;
    height:500px;
}
#tabs-1 p,#tabs-2 p,#tabs-3 p,#tabs-4 p,#tabs-5 p,#tabs-6 p
{font-size:1.2em;}
.myDialog {
    margin: -200px 0 0 -350px;
    width: 700px;
    height: 400px;
}
.modal-dialog{
    z-index: 9999;
}
table.table-striped tbody tr{
    transition: all 0.5s ease-out 0s;
}
table.table-striped tbody tr:hover{
    background-color: #EFEFEF;
}
table.table a:link{
    font-weight: normal;
}
table.table thead th{
    text-align: center;
}
table.table thead th input.form-control{
    max-width: 50px;
}
.no-gutter [class*="-6"] {
    padding-left:0;
}
.required-mark{
    color: red;
}
.spell-error .control-label{
    color: #a94442;
}
.spell-error .form-control{
    border-color: #a94442;
}
.modal-body{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#cardFrameModal .modal-dialog{
    min-width: 1200px;
}
#cardFrameModal .modal-body{
    min-height: 550px;
}

.table tr.active:after{
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 20px;
    border-color: transparent transparent transparent #f5f5f5;
    position: absolute;
}
.bg-odd{
    background-color: #f5f5f5;
}
.ajax-result{
    position: fixed;
    width: 100px;
    height: 50px;
    top: 15px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}

.remove-dropdown ul{
    min-width: 60px;
    margin-left: -6px;
}

ul.nav-pills.nav-stacked li.sub-item{
    margin-left: 20px;
}
a.btn.btn-default:visited{
    color: #666;
}
a.btn.btn-primary:link{
    color: #fff;
}
.bordered-group{
    padding: 0;
}
.bordered-group .row{
    border: 1px solid #d4d4d4;
    border-radius: 5px;   
    margin: 5px;
}

.photo figcaption{
    font-size: 10px;
}
.open-btn{
    position: relative;
    top: 5px;
    right:5px;
}
.main-photo{
    outline: 3px solid #0094D6;
}
/*ФОТО ГАЛЕРЕЯ*/
.photo-gallery .main-photo{
    height: 200px; 
    width: 200px; 
    vertical-align: middle; 
    display: table-cell; 
    text-align: center;
}
.photo-gallery .main-photo>img{
    max-height: 200px; 
    max-width: 200px;
}
.photo-gallery .photo-preview{
    max-height: 50px; 
    max-width: 50px;
    cursor: pointer;
}
.photo-gallery .photo-preview.selected{
    border:2px solid #0094D6;
}
.contract-orders-row .table.table-condensed>tbody>tr>td{
    padding: 2px;
}
/*ТАБЛИЦА ДОГОВОРОВ*/
.contracts-table td:not(:last-child):not(:first-child),.contracts-table th:not(:first-child):not(:last-child){
    /*max-width: 50px;*/
}
.contract-header-row{
    background-color: #b24296;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    font-weight: bold;
    font-size: 20px;
}
.contract-orders-row .contract-header-row{
    color: #b24296;
    background-color: #fff;
    text-shadow: none;
    text-transform: uppercase;
}
.contracts-table .highlighted{
    font-weight: bold;
    text-decoration: underline;
}
.table.table-condensed>tbody>tr.contract-header-row>td{
    padding: 5px;    
}
.table.table-condensed>tbody>tr>td{
    /*border-bottom: 1px solid #666666;*/
}
.table.table-condensed>tbody>tr>td .btn{
    font-size: 10px;
}
.striked{
    text-decoration: line-through;
}
/*КОНЕЦ ТАБЛИЦА ДОГОВОРОВ */


#summaryTabContent{
    height: 300px;
    overflow: auto;
}
body{
    overflow-x: hidden;
}
.nav.navbar-nav a{
    font-size: 12px;
}

.ui-autocomplete{
    z-index: 2000;
}

/*ОКНО ЧАТА===========================*/
.chat-window-toggler, .alertdebtor-window-toggler, .losscalls-window-toggler, .debtoronsite-window-toggler {
    padding: 5px !important;
}
.chat-window, .alertdebtor-window, .losscalls-window, .debtoronsite-window {
    position: absolute;
    top: 60px;
    right: 10px;
    width: 400px;
    background-color: white;
    z-index: 20;
}
.chat-window.closed, .alertdebtor-window.closed, .losscalls-window.closed, .debtoronsite-window.closed {
    height: 41px;
    display: none;
}
.chat-window .panel-body, .alertdebtor-window .panel-body, .losscalls-window .panel-body, .debtoronsite-window .panel-body {
    height: 100%;
    height: 357px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/*ЕЖЕДНЕВНЫЙ ОТЧЕТ===============================*/
.daily-report-calc-table .money-row{
    font-size: 1.5em;
    font-weight: bold;
}

/*ПРИЦЕЛ ДЛЯ ВЕБКАМЕРЫ===========================*/
#webcamViewer{
    width:480px;
    height:320px;
    position: relative;
    left:50%;
    margin-left:-240px;
    margin-top: 20px;
}
.webcam-crosshair{
    background-image: url('../images/webcam_circle.png');
    background-repeat: no-repeat;
    position: absolute;
    width:480px;
    height: 320px;
    left: 50%;
    margin-left: -240px;
    top:0;
    margin-top: 20px;
    display: none;
    background-size: 100%;
}


@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
    }
}

.income-call-modal .modal-body{
    background-color: #F5F7FA;
    overflow: hidden;
    padding: 50px;
}

.call-animation {
    background: #A0D468;
    width: 135px;
    height: 135px;
    position: relative;
    margin: 0 auto;
    border-radius: 100%;
    border: solid 5px #A0D468;
    animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

}
.call-avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: '../images/profile-icon.png';
}
@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px rgba(160, 212, 104, 0.4);
    }
    25% {
        box-shadow: 0 0 0 10px rgba(160, 212, 104, 0.4), 0 0 0 20px rgba(160, 212, 104, 0.2);
    }
    25% {
        box-shadow: 0 0 0 15px rgba(160, 212, 104, 0.4), 0 0 0 30px rgba(160, 212, 104, 0.2);
    }

}