/*стили для добавления фото*/
.photo{
    display:inline-block;
    position: relative;
    margin: 3px;
}
.photo.selected{
    outline: 2px solid blue;
}
.photo.selected:after{
    content: "Главное";
    position: absolute;
    top: 0;
    left: 5px;
    background-color: blue;
    padding: 2px;
    color: white;
}
.photo.for-remove img{
    opacity: 0.2;
}
.photo .rem-btn{
    position: absolute;
    top: 40px;
    right: 3px;
}
.photo .open-btn{
    position: absolute;
    top:3px;
    right: 3px;
}